@typeparam TItem

@if (MyList == null)
{
    @if (Loading == null)
    {
        <div class="align-items-center">
            <img src="https://www.haushaltskonto-vergleich.de/redirect/loading.gif" />
        </div>
    }
    else
    {
        @Loading
    }
}
else
{
    if (MyList.Count == 0)
    {
        @if(NoRecords == null)
        {
            <div class="align-items-center">
                <p>No hay registros para mostrar</p>
            </div>
        }
        else
        {
            @NoRecords
        }
    }
    else
    {
        @Body
    }
}

@code {

    [Parameter]
    public RenderFragment? Loading { get; set; }

    [Parameter]
    public RenderFragment? NoRecords { get; set; }

    //Parametros obligatorios

    [Parameter]
    [EditorRequired]
    public RenderFragment? Body { get; set; } = null;
    [Parameter]
    [EditorRequired]
    public List<TItem> MyList { get; set; } = null!;

}
